<!DOCTYPE html>
<html>
    <head>
        <title>index.html</title>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </head>
    <style>
        hr {
            background-color: black;
        }

        .container-fluid {
            background-color: rgb(238, 225, 109);
        }

        a:link, a:visited {
            text-decoration: none;
            color: white;
        }

        a:hover, a:active {
            text-decoration: none;
            color: white;
        }
    </style>
    <body>
        <div class="container-fluid">
            <form action="{{url_for('userInput')}}" method="POST">
                <div class="form-group">
                    <label>enter company name:</label>
                    <input type="text" class="form-control" name="c" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter email:</label>
                    <input type="text" class="form-control" name="e" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter phone number:</label>
                    <input type="text" class="form-control" name="p" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter address:</label>
                    <input type="text" class="form-control" name="a" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" value="Submit Form">submit</button>
            </form>
            <hr>
            <button class="btn btn-primary"><a href="{{url_for('displayRecord')}}">display record</a></button>
            <hr>
            <form action="{{url_for('deleteRecord')}}" method="POST">
                <div class="form-group">
                    <label>enter company id to delete record:</label>
                    <input type="text" class="form-control" name="d" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" value="Submit Form">submit</button>
            </form>
            <hr>
            <form action="{{url_for('updateRecord')}}" method="POST">
                <div class="form-group">
                    <label>enter company id to update record, click the 'display record' button to see your company id:</label>
                    <input type="text" class="form-control" name="id" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter updated company name:</label>
                    <input type="text" class="form-control" name="updated-c" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter updated email:</label>
                    <input type="text" class="form-control" name="updated-e" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter updated phone number:</label>
                    <input type="text" class="form-control" name="updated-p" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <div class="form-group">
                    <label>enter updated address:</label>
                    <input type="text" class="form-control" name="updated-a" style="width: 500px;background-color: black;color: white;" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" value="Submit Form">submit</button>
            </form>
            <hr style="background-color: white;">
        </div>
    </body>
</html>